* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
} 

:root {
    --white-color: #ffffff;
    --red-color: #d60f25;
    --gray-color: #e7e7e8; 
    --grey-color: #d9d9d9; 
    --black-color: #000000;

    --h1-font-size: 68px;
    --h2-font-size: 34px;
    --h3-font-size: 17px;
    --h4-font-size: 8.5px;

    --text-font-size: 16px;
    --btn-text-size: 12px;
}

@font-face {
    font-family: Gotham;
    src: url("../fonts/Gotham/Gotham-Bold.otf") format("opentype");
}

@font-face {
    font-family: Gotham-O;
    src: url("../fonts/Gotham/GothamOffice-Regular.otf") format("opentype");
}
/* 
==============================================================================================================
                                            LOADING PAGE
==============================================================================================================

*/
.body-load{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 600px;
    margin: 0;
    background-image: url('../images/Pont\ AO.png'); 
    background-size: contain; 
    background-position: center; 
    background-repeat: no-repeat;
    background-color: var(--red-color);
    font-size: 8.5px;
}

.loading {
    font-size: var(--h1-font-size);
    font-family: Gotham;
    color: var(--white-color);
    display: flex;
}

.letter {
    opacity: 0;
    animation: fadeIn 1.5s ease forwards;
    display: inline-block;
}

.letter:nth-child(1) { animation-delay: 0.1s; }
.letter:nth-child(2) { animation-delay: 0.3s; }
.letter:nth-child(3) { animation-delay: 0.5s; }
.letter:nth-child(4) { animation-delay: 0.7s; }
.letter:nth-child(5) { animation-delay: 0.9s; }
.letter:nth-child(6) { animation-delay: 1.1s; }

@keyframes fadeIn {
    to {
        opacity: 1;
        transform: translateY(-10px);
    }
}

/* 
==============================================================================================================
                                            PAGE DE CONNECTION
==============================================================================================================
*/
.body-login-box{
    font-family: Gotham-O;
    background-color: var(--gray-color);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container-login-box{
    background-color: var(--white-color);
    width: 450px;
    height: 450px;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
}

.login-box h2{
    color: var(--red-color);
    font-size: var(--h2-font-size);
}

.login-box p{
    color: var(--black-color);
    font-size: var(--text-font-size);
    margin-top: 8px;
}

.input-group {
    display: flex;
    margin-top: 30px;
}

.country-code {
    width: 16%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: var(--grey-color);
    appearance: none;
}

.phone-number {
    margin-left: 10px;
    width: 55%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid var(--gray-color);
    border-radius: 5px;
    background-color: var(--grey-color);
}
.btn { 
    background-color: var(--red-color); 
    color: var(--white-color); 
    padding: 10px; 
    width: 50%; 
    border: none; 
    border-radius: 18px; 
    cursor: pointer; 
    font-size: 16px; 
    margin-top: 200px;
    margin-left: 85px;
}

.btn:hover { 
    background-color: var(--white-color); 
    color: var(--red-color); 
    border: 1px solid var(--red-color); 
    transition: 1s;
}